<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta lang="pl">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="src/assets/lobster.png" />
		<meta name="generator" content={Astro.generator} />
		<title>❤❤ PATI ❤❤</title>
		<script>
			// Wyłącz przywracanie pozycji scrolla przez przeglądarkę
			if (history.scrollRestoration) {
				history.scrollRestoration = "manual";
			}
	
			// Wyczyść pamięć scrollowania ScrollTrigger
			if (typeof ScrollTrigger !== "undefined") {
				ScrollTrigger.clearScrollMemory();
			}
	
			// Przewiń stronę na górę po załadowaniu
			window.addEventListener("load", () => {
				window.scrollTo(0, 0); // Przewiń do góry
			});
		</script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	</head>
	<body >
		<slot />
	</body>
</html>

<style>
	html::-webkit-scrollbar {
  	display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
	html {
		
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
	html,
	body {
		
		font-family: 'Roboto Mono', monospace;
		background-color: #0c0628;
		margin: 0;
		
	}
</style>
